{% extends "./base.html" %}

{% block title %} Sistema Gestion de Compras {% endblock %}


{% block body %}

        <div class="col-md-5">
            <h2>Editando Marca</h2>
            <div class="card">
              <div class="card-body">
                  <form action="/editarProveedor/" method="POST" enctype="multipart/form-data">{% csrf_token %}

                      <div class="form-group">
                          <label for="">ID:</label>
                          <input type="text"
                                 name="txtIdproveedor"
                                 value="{{proveedor.idproveedor }}"
                                 class="form-control"
                                 placeholder="ID"
                                 readonly>
                      </div>


                      <div class="form-group">
                          <label for="">Cedula:</label>
                          <input type="text"
                                 name="txtcedulaProveedor"
                                 value="{{proveedor.cedularnc}}"
                                 class="form-control"
                                 placeholder="Cedula"
                                 minlength="1"
                                 maxlength="500"
                                 required>
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="">Nombre Comercial:</label>
                        <input type="text"
                               name="txtNombreComercialProveedor"
                               value="{{proveedor.nombrecomercial}}"
                               class="form-control"
                               placeholder="Nombre Comercial"
                               minlength="1"
                               maxlength="500"
                               required>
                    </div>
                    <br>
                      <br>
                      <div class="form-group" style="margin-left: 0.4rem">
                          <div class="form-check">
                              <input class="form-check-input"
                                      type="checkbox"
                                      name="txtEstadoProveedor"
                                      id="txtEstadoProveedor"
                                      {% if marca.estado == "1" %}checked{% endif %}>
                              <label class="form-check-label" for="gridCheck">Estado</label>
                          </div>

                      </div>
                      <br>
                      <div class="form-group">
                          <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                      </div>

                  </form>

              </div>
          </div>
    </div>

{% endblock body %}