{% extends 'base1.html' %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Sistema de compra</title>
  </head>
  <body>
    {% block content %}

    <div class="container text-center my-5">
      <h1 class="display-4">Bienvenido al Sistema de Compras UNAPEC</h1>
    </div>

    {% endblock %}
  </body>
</html>
