{% extends 'base1.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form method="POST" class="card card-body mt-5">
        {% csrf_token %}

        <h1 class="text-center">Sign In</h1>

        <div class="mb-3">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="username"
            pattern="[a-zA-Z0-9]+"
            title="No se permite caracteres especiales, ni espacios"
          />
        </div>

        <div class="mb-3">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="password"
          />
        </div>
        

        <a href="/signup/" class="text-center">Create your account here!</a>
        <span style="color: red">{{error}}</span>
        <button class="btn btn-primary mt-2">SignIn</button>
      </form>
    </div>
  </div>
</div>

{% endblock%}
